<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Todo_App_jsp_sevlet_mysql</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserRegisterController</display-name>
    <servlet-name>UserRegisterController</servlet-name>
    <servlet-class>com.mydata.controller.UserRegisterController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserRegisterController</servlet-name>
    <url-pattern>/UserRegisterController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginController</display-name>
    <servlet-name>UserLoginController</servlet-name>
    <servlet-class>com.mydata.controller.UserLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginController</servlet-name>
    <url-pattern>/UserLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Addtodoservlet</display-name>
    <servlet-name>Addtodoservlet</servlet-name>
    <servlet-class>com.mydata.controller.Addtodoservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Addtodoservlet</servlet-name>
    <url-pattern>/Addtodoservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Updatetodoservlet</display-name>
    <servlet-name>Updatetodoservlet</servlet-name>
    <servlet-class>com.mydata.controller.Updatetodoservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Updatetodoservlet</servlet-name>
    <url-pattern>/Updatetodoservlet</url-pattern>
  </servlet-mapping>
</web-app>